.display-7{
    text-align: center;
}
.form-group label {
    display: flex;
    align-items: baseline;
   margin-bottom: 15px; 
   
   
}

.form-group label input {
    margin-right: 10px;
}

.btn-group button {
     /* Ajusta el valor según el redondeo deseado */
    margin-bottom: 18px;  
    
}
.h{
    border: 1px solid #bd1313;
}

.form-control {
    width: 5cm;
    height: 1cm;
    border-radius: 10px;
    border: 1px solid #bd1384; /* Borde de 1 píxel, puedes ajustar el grosor según tu preferencia */
    padding: 5px;
   
}


